[UNIX]
Description= Socket Server
After=network.target

[SERVICE]
Type=simple
User=root
WorkingDirectory=/Test/Scripts
ExecStart=/usr/bin/python3 server.py
Restart=always

[INSTALL]
WantedBy=multi-user.target

